body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background-color: aquamarine;
    background-image: url(https://www.pexels.com/photo/island-during-golden-hour-and-upcoming-storm-1118873/);
}

.card{
    background-color: antiquewhite;
    color: darkblue;
    padding: 5em;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    margin: 4em;
    border-radius: 40%;
    border: orange;
    height: 4em;
    width: 2.5em;
    cursor: pointer;
}

.input{
    outline: auto;
    border: none;
    padding: 2em;
    background-color: blue;
}

